main{
    padding: 4rem 0 2rem 0;
    background-image: url('../images/background-gallery.jpg');
    background-position: bottom 10% left 20%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* background-clip: border-box; */
}

.section-one {
    background: #fbfbfb;
    height: 170px;
}

.section-one h2 {
    font-family: inherit;
    color: #3f3849;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

.section-one div{
    text-align: center;
    padding-top: 12px;
    color: #8d8d8d;
    font-size: 14px;
}

.section-one div a {
    text-decoration: none;
    color: #8d8d8d;
}

.after-icon {
    vertical-align: middle;
    font-size: 16px;
    padding: 0 12px;
}

.about-span {
    font-size: 14px;
    font-weight: bold;
}

/* Main section */
.section-wrapper {
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first__article {
    margin-top: 2rem;
    padding: 2rem;
    font-family: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    
}

.first__article h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    color: #2b2b2b;
    font-size: 20px;
    width: 100%;
}

.first__article .paragraf__mission {
    width: 100%;
    color: #2b2b2b;
    text-align: center;

}

.about__desc h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    color: #2b2b2b;
}

.about__desc p{
    width: 100%;
    color: #2b2b2b;
    text-align: justify;
}

.second__article {
    margin: 2.5rem 1rem;
    padding: 2.5rem 0;
    font-family: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: inherit;
    width: 80%;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.second__article h1 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 18px;
    color: #2b2b2b;
}

.second__article--CEOs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.leader__image {
    background: #ccc;
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.leader__desc-one{
    width: 100%;
}

.leader__desc-one h2 {
    color: #2b2b2b;
    font-size: 17px;
    margin: 0 0 1rem 0;
}

.leader__desc-one p {
    margin: 0 0 0 10%;
    width: 80%;
    color: #2b2b2b;
    font-size: 16px;
    text-align: justify;
}

.leader__desc-two{
    width: 100%;
}

.leader__desc-two h2 {
    color: #2b2b2b;
    font-size: 17px;
    margin: 0 0 1rem 0;
}

.leader__desc-two p {
    margin: 0 0 0 10%;
    width: 80%;
    color: #2b2b2b;
    font-size: 16px;
    text-align: justify;
}

@media(min-width: 40rem) {
    main{
        padding: 4rem 0 2rem 0;
        background-position: center;
    }

    .first__article {
        margin: 2rem;
        padding: 2rem;
        width: 50%;
        
    }

    .first__article .paragraf__mission {
        width: 60%;
        left: 20%;  
    }

    .about__desc p{
        width: 60%;
        margin: 0 0 0 20%;
    }

    .second__article--CEOs {
        display: flex;
        flex-direction: row;
    }

    .leader__desc-one{
        margin-right: 20px;
    }

    .leader__desc-two {
        margin-left: 20px;
    }
}
