@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

main {
    padding: 14rem 0;
    background: url('../images/background-gallery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.main__section {
    max-width: 100%;
    width: 60%;
    margin: auto auto;
    padding: 2rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

/* Login page */
.login-title {
    text-align: center;
    font-size: 1.5rem;
    color: #2b2b2b;
    font-weight: 700;
}

.login-form {
    width: 75%;
    margin-left: 5%;
    padding: 1rem 0;
}

.login-form input{
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.login-form input {
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    font: inherit;
}

.login-form input:focus {
    outline: none;
    background: #7c1eff28;
    border-color: #7d1eff;
}

.login-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    color: white;
    width: 50%;
    line-height: 40px;
    outline: none;
    border: none;
    background: #7d1eff;
    border: 1px solid #7d1eff;
    border-radius: 20px;
    cursor: pointer;
}

.login-form button[type="submit"]:hover {
    color: #7d1eff;
    background: white;
}

/* Login page responsive */
@media (min-width: 40rem) {
    .main {
        background-position: bottom 20px left 10px;
    }

    .main__section {
        width: 40%;
    }

    .login-form {
        width: 70%;
        margin-left: 10%;
    }

    .login-form button[type="submit"] {
        width: 30%;
        line-height: 40px;
    }
}
