.left-nav {
    display: none;
}

.left-nav__items {
    display: none;
}

.left-nav__item{
    display: none;
}

.left-nav__item a {
    display: none;
}

@media (min-width: 40rem) {
    .left-nav {
        display: block;
        height: 100vh;
        width: 20vw;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ccc;
        overflow-x: hidden;
        padding-top: 8rem;
    }
    
    .left-nav__items {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
    }
    
    .left-nav__item{
        display: block;
        color: #111;
        border-right: 1px solid #ccc;
        background-color: #fff;
        margin:  0 0 1rem 0;
        padding: 1rem 0;
    }
    
    .left-nav__item a {
        display: block;
        text-decoration: none;
        color: #1b1b1b;
    }
}