main{
    padding: 4rem 0 2rem 0;
    background-image: url('../images/background-gallery-2.jpg');
    background-position: bottom 20% left 35%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.section-one {
    background: #fbfbfb;
    height: 170px;
}

.section-one h2 {
    font-family: inherit;
    color: #3f3849;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

.section-one div{
    text-align: center;
    padding-top: 12px;
    color: #8d8d8d;
    font-size: 14px;
}

.section-one div a {
    text-decoration: none;
    color: #8d8d8d;
}

.after-icon {
    vertical-align: middle;
    font-size: 16px;
    padding: 0 12px;
}

.contact-span {
    font-size: 14px;
    font-weight: bold;
}

/* Main section */
.main__section {
    max-width: 100%;
    width: 80%;
    margin: 5rem auto;
    padding: 2rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.contact-title {
    text-align: center;
    font-size: 1.5rem;
    color: #2b2b2b;
    font-weight: 700;
}

#error{
    /* display: none; */
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    background: #cc0000;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.contact-form {
    padding: 1rem;
}

.contact-form input,
.contact-form select,
.contact-form .input-radio,
.contact-form textarea {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.contact-form select,
.contact-form textarea {
    display: inline-block;
    vertical-align: bottom;
}

/* .contact-form input,
.contact-form select {
    display: block;
    margin-top: 1rem;
    width: 100%;
} */

.contact-form input[id*="agree-terms"] {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.agree-terms {
    font-size: 16px;
    font-family: inherit;
    color: #2b2b2b;
    text-decoration: none;
}

.agree-terms a {
    text-decoration: none;
    color: #7d1eff;
}

.grey_color{ 
    color:#ccc; font-size:14px;
}

.contact-form input:not([type="checkbox"]),
.contact-form select,
.contact-form textarea {
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    font: inherit;
}

.contact-form textarea {
    resize: none;
    height: 150px;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    outline: none;
    background: #7c1eff28;
    border-color: #7d1eff;
}

.contact-form input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.contact-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    color: white;
    width: 50%;
    line-height: 40px;
    outline: none;
    border: none;
    background: #7d1eff;
    border: 1px solid #7d1eff;
    border-radius: 20px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    color: #7d1eff;
    background: white;
}

@media (min-width: 40rem) {
    .main {
        background-position: bottom 20px left 10px;
    }

    .main__section {
        width: 40%;
    }

    .contact-form button[type="submit"] {
        width: 25%;
        line-height: 40px;
    }
}