main{
    padding: 4rem 0 2rem 0;
    background-image: url('../images/background-gallery-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.create-user{
    padding: 4rem 0 2rem 3rem;
}

.dashboard-table{
    padding: 0 3rem 1rem 3rem;
}

.create-user h1 {
    margin: 0 0 10px 0;
}

.create-user button {
    display: block;
    font-weight: 700;
    font-family: inherit;
    font-size: 14px;
    color: white;
    width: 30%;
    line-height: 30px;
    outline: none;
    border: none;
    background: #7d1eff;
    border: 1px solid #7d1eff;
    border-radius: 20px;
    cursor: pointer;
}

.create-user button a {
    color: #fff;
    text-decoration: none;
}

.dashboard-table {
    display: flex;
    justify-content: center;
}

.dashboard-table table {
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align: center;
    background: #fff;
    border-collapse: collapse;
    table-layout: fixed;   
}
 
.dashboard-table table td,
.dashboard-table table th {
    padding: 0 10px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.dashboard-table table td a:visited,
.dashboard-table table td a {
    color: black;
}

.fa {
    font-size: 20px;
    vertical-align: middle;
    margin-top: -8px;
}

#success-register {
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    background: green;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.product-img {
    width: 50%;
    align-items: center;
    margin-left: 10%;
}



@media(min-width: 40rem) {
    main{
        padding: 4rem 0 0.5rem 20rem;
    }

    .create-user button {
        width: 15%;
    }

    .dashboard-table table { 
        width: 100%;
        height: auto;
        font-size: 18px;
        text-align: center;
        background: #fff;
        border-collapse: collapse;
        table-layout: fixed;
    }
}