main{
    padding: 4rem 0 2rem 0;
    background-image: url('../images/background-gallery-2.jpg');
    background-position: bottom 20% left 35%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.section-one {
    background: #fbfbfb;
    height: 170px;
}

.section-one h2 {
    font-family: inherit;
    color: #3f3849;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

.section-one div{
    text-align: center;
    padding-top: 12px;
    color: #8d8d8d;
    font-size: 14px;
}

.section-one div a {
    text-decoration: none;
    color: #8d8d8d;
}

.after-icon {
    vertical-align: middle;
    font-size: 16px;
    padding: 0 12px;
}

.login-span {
    font-size: 14px;
    font-weight: bold;
}

/* Main Sectioin */
.main__section {
    font-family: Poppins;
    max-width: 100%;
    width: 80%;
    margin: 5rem auto;
    padding: 2rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.login-title {
    text-align: center;
    font-size: 1.5rem;
    color: #2b2b2b;
    font-weight: 700;
}

#error-login{
    /* display: none; */
    width: 70%;
    margin-left: 15%;
    padding: 10px;
    background: #cc0000;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.login-form {
    width: 80%;
    margin-left: 10%;
    padding: 1rem;
}

.login-form input {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.login-form input{
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.username {
    margin-bottom: 1rem;
}

.login-form input[id*="remember-me"],
.forgot-pass {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.remember-me {
    font-size: 12px;
    font-family: inherit;
    color: #2b2b2b;
    text-decoration: none;
}

.login-form input:not([type="checkbox"]) {
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    font: inherit;
}

.login-form input:focus {
    outline: none;
    background: #7c1eff28;
    border-color: #7d1eff;
}

.login-form input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.forgot-pass {
    text-decoration: none;
    color: #7d1eff;
    float: right;
    vertical-align: middle;
    margin-top: 1rem;
    font-size: 12px;
}

.login-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    color: white;
    width: 50%;
    line-height: 40px;
    outline: none;
    border: none;
    background: #7d1eff;
    border: 1px solid #7d1eff;
    border-radius: 20px;
    cursor: pointer;
}

.login-form button[type="submit"]:hover {
    color: #7d1eff;
    background: white;
}

@media (min-width: 40rem) {
    .main {
        background-position: bottom 20px left 10px;
    }

    .main__section {
        width: 40%;
    }

    .login-form button[type="submit"] {
        width: 30%;
        line-height: 40px;
    }

    .remember-me {
        font-size: 14px;
    }

    .forgot-pass {
        margin-top: 0.6rem;
        font-size: 14px;
    }
}