/* Modal */
.modal {
    display: none;
    position: fixed;
    opacity: 0;
    transform: translateY(-3rem);
    transition: opacity 200ms ease-out, transform 500ms ease-out;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: #fff;
    padding: 1rem;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.5), 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
}
  
.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
    font-family: inherit;
    color: #363636;
}
  
.modal__actions {
    text-align: center;
}
  
.modal__action {
    border: 1px solid #7d1eff;
    background: #7d1eff;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
  
.modal__action:hover,
.modal__action:active {
    background: #b55adf;
    border-color: #b55adf;
}
  
.modal__action--negative {
    background: #cc0000;
    border-color: #cc0000;
}
  
.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}

/* Header */
.product-overview {
    display: flex;
    background: url('../images/Layer2.png') center/cover no-repeat border-box;
    width: 100%;
    height: 45vh;
}

.product-overview h1 {
    color: white;
    display: inline-block;
    /* display: flex; */
    position: relative;
    top: 35%;
    left: 10%;
    font-size: 1.5rem;
}

.product-overview h3 {
    color: white;
    position: absolute;
    top: 28.5%;
    left: 10%;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.product-overview p {
    color: rgb(178, 170, 191);
    font-size: 0.6rem;
    position: absolute;
    top: 32%;
    left: 10%;
}

/* Header Responsive */
@media(min-width: 40rem) {
    .product-overview {
        display: flex;
        background-position: left 40%;
        height: 100vh;
    }

    .product-overview h1 {
        top: 30%;
        left: 15%;
        font-size: 5rem;
    }

    .product-overview h3 {
        top: 75%;
        left: 15%;
        font-size: 1rem;
    }

    .product-overview p {
        font-size: 13px;
        top: 80%;
        left: 15%;
    }
}

/* section-1 */
.gallery__container {
    background-image: url('/images/background-gallery.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: bottom 1% right 1%;
    position: relative;
    max-width: 100%;
    height: 100%;
}

.gallery-min-title{
    margin: 0 2rem;
    color: #aca3ba;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.gallery-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
    text-align: center;
    color: #3f3849;
    margin: 0 2rem;
}

.gallery-paragraf {
    margin: 0 2rem;
    padding-top: 13px;
    font-size: 13px;
    color: #3f3849;
    text-align: center;
}

.mySlides {
    display: none;
}

.slider-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
}

.gallery__list {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.gallery__item {
    display: inline-block;
    margin: 0 8px;
}

.gallery__item a img {
    list-style: none;
    margin: 0;
    width: 300px;
    height: 350px;
}

.empty__div {
    padding: 50px 15px;
}

.dots {
    margin-top: 1rem;
}

.dot {
    cursor: pointer;
    height: 9px;
    width: 9px;
    margin: 0 12px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot, .dot:hover {
    background-color: #7d1eff;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}

/* Section-1 Responsive */
@media(min-width: 40rem) {
    .gallery__container {
        background-position: top 35% left 40%;
    }

    .gallery-min-title {
        font-size: 15px;
        margin: 0;
    }

    .gallery-title {
        font-size: 48px;
        line-height: 60px;
        margin: 0;
    }

    .gallery-paragraf {
        font-size: 18px;
        margin: 0;
    }

    .gallery__item a img {
        width: 304px;
        height: 362px;
    }
}

/* section-2 */
#first-features {
    padding-top: 100px;
    padding-bottom: 100px;
}

#first-features div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-image img {
    max-width: 100%;
    height: auto;
    margin: 0 2rem;
}

.features__lists {
    max-width: 100%;
    margin: 0 2rem;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

.features__min-title {
    color: #aca3ba;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.feature__title {
    margin: 0;
    color: rgb(63, 56, 73);
    font-size: 40px;
    font-weight: 900;
}

.feature-one__container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.mic-icon {
    font-size: 30px;
    color: #7d1eff;
}

.feature-one__list {
    width: 100%;
    flex-direction: column;
    padding-left: 40px;
}

.feature-one__list h3 {
    font-size: 16px;
    font-weight: 900;
    color: rgb(63, 56, 73);
    margin: 0;
    padding-bottom: 7px;
}

.feature-one__list p {
    font-size: 16px;
    color: #8d8698;
    margin: 0;
}

.feature-two__container {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.mobile-icon {
    font-size: 30px;
    color: #7d1eff;
}

.feature-two__list {
    width: 100%;
    flex-direction: column;
    padding-left: 40px;
}

.feature-two__list h3 {
    font-size: 16px;
    font-weight: 900;
    color: rgb(63, 56, 73);
    margin: 0;
    padding-bottom: 7px;
}

.feature-two__list p {
    font-size: 16px;
    color: #8d8698;
    margin: 0;
}

.feature-three__container {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.wifi-icon {
    font-size: 30px;
    color: #7d1eff;
}

.feature-three__list {
    width: 100%;
    flex-direction: column;
    padding-left: 40px;
}

.feature-three__list h3 {
    font-size: 16px;
    font-weight: 900;
    color: rgb(63, 56, 73);
    margin: 0;
    padding-bottom: 7px;
}

.feature-three__list p {
    font-size: 16px;
    color: #8d8698;
    margin: 0;
}

/* section-2 Responsive */
@media(min-width: 40rem){
    #first-features{
        padding-top: 200px;
        padding-bottom: 200px;
    }
    
    #first-features {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .features-image {
        width: 585px;
        padding-top: 35px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
    }

    .features__lists {
        width: 40%;
        margin: 0;
    }

    .feature__title {
        font-size: 48px;
    }

    .feature-one__container {
        margin-top: 100px;
    }

    .feature-one__list {
        width: 50%;
    }
    
    .feature-two__list {
        width: 50%;
    }
    
    .feature-three__list {
        width: 50%;
    }
}

/* section-3 */
#second-features {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
}

.second__lists {
    order: 2;
    max-width: 100%;
}

.second__min-title {
    margin: 0;
    color: #aca3ba;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.second__title {
    color: #3f3849;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    margin: 0;
    padding-bottom: 50px;
}

.seccond__plus-one {
    color: #3f3849;
    font-size: 18px;
    margin: 0;
}

.second-paragraf-one {
    color: #8d8698;
    font-size: 16px;
    margin: 0;
    padding-top: 16px;
}

.second-percentage-one {
    margin: 0;
    font-size: 16px;
    color: #3f3849;
    text-align: right;
    padding-right: 15px;
}

.horizontal__icon-1 {
    background-color: #7d1eff;
    width: 30%;
    height: 6px;
    border-radius: 10px;
    margin: 0;
}

.second__plus-two {
    color: #3f3849;
    font-size: 18px;
    margin: 0;
    padding-top: 30px;
}

.second-paragraf-two {
    color: #8d8698;
    font-size: 16px;
    margin: 0;
    padding-top: 16px;
}

.second-percentage-two {
    margin: 0;
    font-size: 16px;
    color: #3f3849;
    text-align: right;
    padding-right: 15px;
}

.second__icon-2 {
    background-color: #7d1eff;
    width: 80%;
    height: 6px;
    border-radius: 10px;
    margin: 0;
}

.second__plus-three {
    color: #3f3849;
    font-size: 18px;
    margin: 0;
    padding-top: 30px;
}

.second-paragraf-three{
    color: #8d8698;
    font-size: 16px;
    margin: 0;
    padding-top: 16px;
}

.second-percentage-three{
    margin: 0;
    font-size: 16px;
    color: #3f3849;
    text-align: right;
    padding-right: 15px;
}

.second__icon-3 {
    background-color: #7d1eff;
    width: 60%;
    height: 6px;
    border-radius: 10px;
    margin: 0;
}

.second-image img{
    order: 1;
    max-width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}

/* section-3 Responsive */
@media(min-width: 40rem){
    #second-features {
        flex-direction: row;
        padding-bottom: 200px;
        margin: 0;
    }

    .second__lists {
        order: 0;
        width: 40%;
    }

    .second__title {
        font-size: 48px;
        line-height: 60px;
    }

    .second-paragraf-one {
        width: 50%;
    }

    .second-paragraf-two {
        width: 50%;
    }

    .second-paragraf-three {
        width: 50%;
    }

    .second-image img {
        order: 1;
        padding-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* section-4 */
.last-feature{
    max-width: 100%;
    background-color: #363636;
    display: inline-block;
}

.last-features__min-title {
    text-align: center;
    font-size: 0.9rem;
    line-height: 30px;
    color: #9b9b9b;
    text-transform: uppercase;
    margin: 2rem 2rem 0 2rem;
    padding-top: 2rem;
}

.last-features__main-title {
    text-align: center;
    display: block;
    font-size: 40px;
    color: #fff;
    font-weight: 900;
    margin: 0 2rem;
}

.last-features__list {
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.last-feature__article {
    display: inline-block;
    height: 319px;
    vertical-align: middle;
}


.last-feature__article img {
    width: 319px;
    height: 346px;
    padding: 20px;
}

.article__up-title {
    position: relative;
    bottom: 19rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #ccc;
    margin: 0;
}


.article__title-1 {
    text-decoration: none;
    position: relative;
    bottom: 20.5rem;
    font-size: 20px;
    font-weight: 700;
}

.article__price {
    position: relative;
    bottom: 20.5rem;
    color: white;
    margin: 0;
}

.btn__see-more {
    position: relative;
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.btn__see-more button {
    text-decoration: none;
    background-color: rgba(63, 63, 63, 0.01);
    border: 2px solid #fff;
    font-size: 15px;
    color: #fff;
    border-radius: 28px;
    padding-left: 42px;
    padding-right: 42px;
    height: 56px;
    line-height: 52px;
    font-weight: 700;
    cursor: pointer;
}

.btn__see-more button:hover {
    border: 2px solid #ccc;
    color: #ccc;
}

.btn__see-more button:focus {
    outline: none;
}

/* section-3 responsive*/
@media(min-width: 40rem) {

    .last-feature {
        width: 100%;
    }

    .last-features__min-title {
        font-size: 1rem;
        margin: 5rem 0 0 0;
    }
    
    .last-features__main-title {
        font-size: 48px;
        margin: 0;
    }

    .last-feature__article img {
        padding: 8px;
    }
}

/* section-4 */
.reviews__container {
    background-image: url('/images/background-gallery-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: top 40% left 60%;
    max-width: 100%;
}

.reviews__container .reviews__title {
    color: #3f3849;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin: 0 2rem;
    padding-top: 4rem;
}

.reviews__customers {
    margin: 0 2rem;
}

.customers__image {
    background: #ccc;
    width: 128px;
    height: 128px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.reviews__customers p {
    padding-top: 2rem;
    text-align: center;
    color: rgb(141, 134, 152);
}

.icon-quote__right {
    display: none;
}

.customer__name {
    color: #7d1eff;
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
}

/* section-4 responsive */
@media(min-width: 40rem) {

    .reviews__title {
        margin: 0;
        padding-top: 6rem;
    }

    .reviews__customers {
        margin: 0;
    }

    .reviews__customers p {
        margin: 0;
        padding-left: 20rem;
        padding-right: 20rem;
        width: 100%;
    }

    .icon-quote__right {
        display: block;
        text-align: center;
        padding-bottom: 5rem;
        color: rgb(141, 134, 152);
        margin: 0;
    }
}

/* section-5 */
.social-icons{
    background: #7d1eff;
    width: 100%;
    height: 20vh;
    margin: auto;
    padding-top: 4rem;
    text-align: center;
    color: rgb(141, 134, 152);
    letter-spacing: 15px;
    font-size: 14px;
    /* cursor: pointer; */
}

.fa-youtube-play,
.fa-twitter,
.fa-facebook,
.fa-instagram {
    cursor: pointer;
}

.fa-youtube-play:hover,
.fa-twitter:hover,
.fa-facebook:hover,
.fa-instagram:hover {
    color: #ccc;
}

/* section-5 responsive*/
@media(min-width: 40rem){
    .social-icons{
        letter-spacing: 20px;
        font-size: 18px;
    }
}