main{
    padding: 4rem 0 2rem 0;
    background-image: url('../images/background-gallery-2.jpg');
    background-position: bottom 20% left 35%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.section-one {
    background: #fbfbfb;
    height: 170px;
}

.section-one h2 {
    font-family: inherit;
    color: #3f3849;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

.section-one div{
    text-align: center;
    padding-top: 12px;
    color: #8d8d8d;
    font-size: 14px;
}

.section-one div a {
    text-decoration: none;
    color: #8d8d8d;
}

.after-icon {
    vertical-align: middle;
    font-size: 16px;
    padding: 0 12px;
}

.register-span {
    font-size: 14px;
    font-weight: bold;
}

/* Main section */
.main__section {
    max-width: 100%;
    width: 80%;
    margin: 5rem auto;
    padding: 2rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.register-title {
    text-align: center;
    font-size: 1.5rem;
    color: #2b2b2b;
    font-weight: 700;
}

#error-register{
    /* display: none; */
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    background: #cc0000;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.register-form {
    padding: 1rem;
}

.register-form input,
.register-form select,
.register-form textarea{
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

.register-form select {
    display: inline-block;
    vertical-align: bottom;
}

.grey_color{ 
    color:#ccc; font-size:14px;
}

.register-form input:not([type="checkbox"]),
.register-form select,
.register-form textarea {
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    font: inherit;
}

.register-form input:focus,
.register-form select:focus {
    outline: none;
    background: #7c1eff28;
    border-color: #7d1eff;
}

.gender-radio {
    color: #808080;
    margin-top: 1rem;
}

.register-form input[type="radio"] {
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

.register-form textarea {
    resize: none;
    height: 150px;
}

.register-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    color: white;
    width: 50%;
    line-height: 40px;
    outline: none;
    border: none;
    background: #7d1eff;
    border: 1px solid #7d1eff;
    border-radius: 20px;
    cursor: pointer;
}

.register-form button[type="submit"]:hover {
    color: #7d1eff;
    background: white;
}

@media (min-width: 40rem) {
    .main {
        background-position: top 60px left 60px;
    }

    .main__section {
        width: 40%;
    }

    .register-form button[type="submit"] {
        width: 30%;
        line-height: 40px;
    }
}