/* Mobile-first approach */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

/* Backdrop */
.backdrop {
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s linear;
}

/* Main Header */
.main-header {
    position: fixed;
    width: 100%;
    padding: 1rem 1rem;
    z-index: 1;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.adminpanel-h1{
    display: none;
}

/* Toggle-button */
.toggle-button {
    /* display: none;  E ndrron tona e qet te media query display */
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    /* float: left; */
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main-header__logo img {
    width: 6rem;
    height: 1.5rem;
}

.main-nav {
    display: none;
}

.main-header__logo img {
    width: 7rem;
    height: 2rem;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.main-nav__item {
    margin: 0 1rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 13px;
    font-weight: 700;
    padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #ccc;
    border-bottom: 2px solid #ccc;
}

.main-nav__item a.active {
    color: #ccc;
    border-bottom: 2px solid #ccc;
}

.right-nav {
    display: none;
}

.right-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 2px;
}

.cart-icon {
    color: rgb(151, 144, 144);
    margin-right: 10px;
}

.badge {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#cart-count{
    font-size: 11px;
    background: #6394F8;
    color: white;
    padding: 1px 5px;
    vertical-align: text-top;
    margin-left: -12px;
}

.signup-style {
    text-decoration: none;
    color: #2b2b2b;
    font-weight: 700;
    font-size: 13px;
}

.login-style {
    text-decoration: none;
    color: #2b2b2b;
    font-weight: 700;
    font-size: 13px;
}

/* .right-nav__items .right-nav__item form button {
    
} */

.login-style:hover,
.signup-style:hover{
    color: #ccc;
    border-bottom: 2px solid #ccc;
}

/* Media query per header */
@media(min-width: 40rem) {

    .main-header{
        justify-content: space-around;
    }

    .adminpanel-h1{
        display: inline;
        color: #2b2b2b;
        font-size: 16px;
        padding: 0 8rem;
    }

    .main-nav{
        display: flex;
    }

    .toggle-button {
        display: none;
    }

    .right-nav {
        display: flex;
    }

    .right-nav-wrapper{
        display: flex;
    }

    .logout-style {
        display: flex;
    }
}

/* Mobile Nav */
.mobile-nav {
    display: none; 
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 70%;
    margin-right: 30%;
    height: 100vh;
}
  
.mobile-nav__items {
    width: 70%;
    height: 70%;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.mobile-nav__item {
    margin: 1rem 0;
}
  
.mobile-nav__item a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    /* padding: 0.2rem 0; */
}

/* footer */
.main-footer {
    max-width: 100%;
    background: rgb(54, 54, 54);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 30px 30px 20px 30px;
}

.main-footer ul{
    max-width: fit-content;
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 20px 50px;
    vertical-align: middle;
}

.main-footer__left-block {
    color: #a1a1a1;
    padding: 35px 15px 0px;
}

.main-footer__left-icons {
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    padding-bottom: 20px;
    cursor: pointer;
}

.fa-cc-visa:hover,
.fa-cc-mastercard:hover,
.fa-cc-amex:hover,
.fa-cc-paypal:hover,
.fa-cc-jcb:hover {
    color: #ccc;
}

.main-footer__left-block li {
    font-size: 12px;
}

.lock-icon {
    font-size: 16px;
    padding-right: 5px;
}

.main-footer__middle-block {
    padding: 35px 15px 0px;
}

.main-footer__middle-block h1{
    color: #f4f4f4;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-footer__middle-block a {
    text-decoration: none;
    color: #a1a1a1;
    padding-top: 10px;
}

.main-footer__right-block {
    padding: 35px 15px 0px;
}

.main-footer__right-block h1 {
    color: #f4f4f4;
    font-size: 16px;
    font-weight: 700px;
    text-transform: uppercase;
}

.main-footer__right-block a {
    text-decoration: none;
    color: #a1a1a1;
    padding-top: 10px;
}

.lowest-footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: left;
    padding: 5px 80px 40px 80px;
    background: rgb(54, 54, 54);
}

.lowest-footer__paragraf {
    text-align: center;
    color: #a1a1a1;
    font-size: 12px;
}

/* footer responsive */
@media(min-width: 40rem) {
    .main-footer {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .main-footer ul{
        width: 30%;
        padding: 50px 50px;
    }

    .main-footer__left-block p {
        padding-bottom: 20px;
    }

    .lowest-footer {
        justify-content: center;
        padding: 0 20px 10px 20px;
    }
}

/* Open class per mobile, backdrop and modal */
.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}
