main {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
}

.section-one {
    background: #fbfbfb;
    height: 170px;
}

.section-one h2 {
    font-family: inherit;
    color: #3f3849;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

.section-one div{
    text-align: center;
    padding-top: 12px;
    color: #8d8d8d;
    font-size: 14px;
}

.section-one div a {
    text-decoration: none;
    color: #8d8d8d;
}

.after-icon {
    vertical-align: middle;
    font-size: 16px;
    padding: 0 12px;
}

.products-span {
    font-size: 14px;
    font-weight: bold;
}

/* section-two */
.all__products {
    margin: 0 2rem;
}

.all__products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100%;
    padding: 0;
    margin: 5rem 0 0 0;
}

.all__products-list li{
    list-style: none;
    padding: 0 15px 15px;
    margin: 0 0 30px 0;
}

.all__products-list a {
    text-decoration: none;
}

.all__products-list .product-img {
    width: 217px;
}

.product-details {
    box-shadow: none;
    padding-top: 20px;
}

.product-details h2 {
    margin: 0;
    padding: 8px 0;
    color: #3f3849;
}

.product-details p {
    margin: 0 55px 16px 0;
    padding: 0 0 13px;
    color: #8d8698;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #e9e9e9;
}

.product-details span {
    color: #3f3849;
    font-weight: 700;
    font-size: 16px;
}

.all__products-list .add-to-cart {
    display: inline-block;
    float: right !important;
    top: -35px;
    font-size: 0;
    background-color: #f2f2f2;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    border-radius: 100px;
}

.add-to-cart {
    color: #8d8d8d;
    position: relative;
}

.icon-cart{
    position: relative;
    bottom: -8px;
    font-size: 20px;
    color: #7d1eff;
}
