main {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
}

.section-one {
    background: #fbfbfb;
    height: 170px;
}

.section-one h2 {
    font-family: inherit;
    color: #3f3849;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

.section-one div{
    text-align: center;
    padding-top: 12px;
    color: #8d8d8d;
    font-size: 14px;
}

.section-one div a {
    text-decoration: none;
    color: #8d8d8d;
}

.after-icon {
    vertical-align: middle;
    font-size: 16px;
    padding: 0 12px;
}

.cart-span {
    font-size: 14px;
    font-weight: bold;
}

.cart-details {
    margin: 1.5rem 0 1.5rem 2rem;
    color: #e5e5e5;
    font-weight: bold;
    max-width: 500px;
}

.cart-details h1 {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
}

.empty-cart h1{
    margin: 0;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 50px;
}

@media(min-width: 40rem) {

    .cart-details {
        margin: 3rem 0 3rem 4rem;
    }

    .cart-details h1 {
        font-size: 56px;
        line-height: 56px;
    }

    .empty-cart h1{
        font-size: 110px;
        line-height: 100px;
    }
}